body, html {
	background-color: #505050;
}

#page {
	position: absolute;
	width: 1900px;
	height: 100%;
}

/* Header day of the 42 */
header {
	background-color: #909090;
	padding: 1rem;
	border-radius: 0.6rem;
	box-shadow: 0.6rem 0.6rem 0.5rem black;
	width: 1380px;
	height: 105px;
	left: 200px;
	position: relative;
}

#doft {
	position: inherit;
	width: 420px;
	top: -45px;
}

#loupe {
	position: inherit;
	top: 0px;
	left: 660px;
}

#reload {
	position: inherit;
	left: 680px;
	top: -130px;
}

#reload > img {
	width: 1.5rem;
}

#close {
	position: inherit;
	left: 655px;
	top: -35px;
}

/* Nav on the left side */
nav {
	position: inherit;
	background-color: #909090;
	width: 142px;
	top: 160px;
	left: 230px;
	height: 425px;
	border-radius: 0.6rem;
	box-shadow: 0.6rem 0.6rem 1rem black;
}

nav > *, #right-list > * {
	text-align: center;
	padding: 0;
}

li {
	list-style-type: none;
}

li > img {
	position: relative;
}

nav img {
	width: 50%;
}

#right-list img {
	width: 60%;
}

p {
	font-family: Verdana;
	font-size: 1.1rem;
	margin: 0;
}

strong {
	font-size: 2.4rem;
	font-weight: normal;
	font-family: serif;
}

mark {
	text-shadow: 5px 6px 5px #9a753a;
	background-color: #88FF89;
}

#left-list > li:hover img {
	border: solid red 0.3rem;
	border-radius: 0.3rem;
}


/* Cluster at the center */

#cluster {
	background-color: #909090;
	border-radius: 0.6rem;
	padding: 0.7rem;
	box-shadow: 0.6rem 0.6rem 1rem black;
	position: inherit;
	width: 992px;
	left: 400px;
	top: 160px;
}

#cluster > img {
	width: 100%;
}

#right-list {
	position: inherit;
	background-color: #909090;
	border-radius: 0.6rem;
	padding: 0.7rem;
	box-shadow: 0.6rem 0.6rem 1rem black;
	height: 400px;
	width: 120px;
	top: 160px;
	left: 1442px;
}

#text-dialog {
	background-color: #88FF89;
	border-radius: 0.6rem;
	box-shadow: 0.6rem 0.6rem 1rem black;
	position: relative;
	top: 526px;
	left: 150px;
	width: 485px;
	padding: 0rem 1rem 4rem 1rem;
}

#brick {
	background-image: url(resources/brick.jpg);
	background-repeat: repeat;
	margin-left: auto;
	margin-right: auto;
	height: 70px;
	width: 120px;
}

#response {
	width: 80%;
	border-style: inset;
	border-width: 1.5px;
}

#repondre {
	border-radius: 2px;
	border: solid 1px grey;
	background-color: #e2e2e2;
}

#ikea {
	position: inherit;
	width: 15%;
	height: 40%;
	left: 32%;
	top: 55%;
}

#apple {
	position: inherit;
	width: 20%;
	height: 30%;
	left: 77%;
	top: 54%;
}

#miaou {
	border: solid red;
	position: inherit;
	width: 15.5%;
	height: 17%;
	left: 74%;
	top: 76%;
}

#doft_transparent {
	opacity: 0;
	width: 0px;
}

#back {
	width: 2rem;
	position: relative;
	left: 28rem;
	top: 3rem;
}

#norminet {
	width: 10rem;
	position: relative;
	left: 72rem;
	top: 29rem;
}