body, html {
    background: #d8d8d8;
}

th, td {
    border: solid 1px #8e8e8e;
/*    width: 3rem;*/
}

.empty {
    border: none;
}

.element {
    font-size: calc((2vw + 2vh) / 2);
    text-align: center;
    font-weight: bold;
}

p:last-child {
    text-align: left;
    font-size: calc((2vw + 2vh) / 4);
}

p:first-child {
    text-align: right;
    font-size: calc((2vw + 2vh) / 4);
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

table {
    border-collapse: collapse;
}

#tableau {
    width: 70vw;
    height: 70vh;
    margin: 0px auto;
}

.image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: calc((2vw + 2vh) / 0.2);
    height: calc((2vw + 2vh) / 0.2);
}

.color1 {background-color: #AB91FF;}
.color2 {background-color: #91DFFF;}
.color3 {background-color: #FFC591;}
.color4 {background-color: #FFDF91;}
.color5 {background-color: #ECFF91;}
.color6 {background-color: #92FF9F;}
.color7 {background-color: #C8C8C8;}
.color8 {background-color: #F991FF;}
.color9 {background-color: #D2FF91;}