html, body {
	margin: 0;
	font-family: sans-serif;
}

#menu {
	margin: 1rem auto;
	width: 70vw;
	position: relative;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

#menu li {
	float: left;
	margin: auto;
	padding: 0;
	background-color: #009688;
}

#menu li a {
	display: block;
	width: 10rem;
	color: white;
	text-decoration: none;
	padding: 5px;
}

#menu li a:hover {
	background-color: #B2DFDB;
	color: #363636;
}

#menu ul li ul {
	display: none;
}

#menu ul li:hover > ul {
	display: block;
}

#menu li:hover > ul li {
	float: none;
}

#menu ul li ul li ul {
	display: none;
}

.third-level {
	left: 100%;
	top: 0;
	position: absolute;
}

#menu .second-level li {
	position: relative;
	background-color: #4DB6AC;
}